<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Dino Nuggies</title>
</head>
<body class="bg-dark">
    <div class="container d-flex flex-column align-items-center justify-content-center bg-light">
        <header class="mb-5">
            <h1 class="text-center mt-4 mb-4">How many Dino Nuggies did I Eat?</h1>
            <img class="img-fluid" src="static/img/dino_banner.jpg" alt="a picture depicting a tropical paradise filled with beautiful dino nuggies">
        </header>
        <div class="row">
            <div class="col" >

                <h2 class="fs-1 text-center"> {{ session['message'] }}</h2>
                <p>Number guessed: {{ session['guess'] }} </p>
                <p>Attempts: {{ session['attempts'] }}</p>

                <form class="" action="/guess" method="post">
                    <label class="form-label" for ="user_guess">How many nuggies do you guess?</label>
                    <input class="form-control mb-2" type="number" id="user_guess" name="guess">
                    <input class="btn btn-primary mb-5" type="submit">
                </form>

                <!-- uncomment below to see session data stuff -->
                <!-- <h2> session data:</h2>
                <ul> {% for key in session %} 
                        <li>{{ session[key] }}</li>
                    {% endfor %}
                </ul> -->
            </div>
        </div>
    </div>
</body>
</html>